body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menus-du-haut {
    width: 70%;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    background-color: rgb(181, 255, 147);
}

.banniere {
    border: 3px solid rgb(0, 0, 0);
    width: 70%;
}

.menu-onglet {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 0px;
}

.menu-onglet li {
    flex: 1 1 auto;
    font-size: 25px;
    padding: 5px 1px 1px 1px;
    margin: 15px auto 15px auto;
    text-align: center;
}

ul {
    list-style-type: none;

}

.text li,
.bandeau-bas li {
    list-style-image: url(img/o-logo.png);
}

a {
    text-decoration: none;
    color: rgb(54, 82, 51);
    transition: color 0.2s;
}

a:hover {
    border-bottom:1px solid rgb(3, 24, 92);
    color: rgb(3, 24, 92);
}

h1 {
    padding: 2px 20px 2px 20px;
    width: auto;
}

.text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 50px;
}

.bandeau-bas {
    width: 30%;
    display: flex;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.bandeau-bas li {
    flex: 0 0 30%;
    width: 25%;
    height: 25%;
    background-color: rgb(175, 226, 255);
    padding: 10px 0px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
}

h2 {
    text-transform: uppercase;
    color: rgb(83, 112, 43);
}

p {
    text-align: justify;
}

.imp-text {
    font-weight: bolder;
    text-align: center;
}

.scien-name {
    font-style: italic;
}

.surline {
    font-weight:bolder;
}

.logo-ortiss {
    text-align: center;
}

#logo-ortissage {
    object-fit: fill;
    max-width: 200px;
}

.boite-de-dialogue {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.photo-fibre {
    display: flex;
    flex-direction: column;
    margin: auto 30px auto 30px;
    align-items: center;
    font-style: italic;

}

.que-propose {
    background-color: rgb(196, 233, 255);
    color: rgb(11, 75, 43);
    padding: 10px 35px 10px 35px;
    margin: 20px;
}

.fin-text {
    margin-top: 70px;
}