/** Les sous-parties de page */

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menus-du-haut {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    background-color: rgb(181, 255, 147);
    position: relative;
    display: flex;
}

.menu-wrapper {
    background-color: rgb(181, 255, 147);
    width: 100%;
    z-index: 2;
}

.banniere {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(0, 0, 0);
    width: 60%;
}

.menu-onglet {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(181, 255, 147);
    gap: 60px;
}

.menu-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.menu-onglet li {
    font-size: 22px;
    padding: 10px 1px 10px 1px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.text li,
.bandeau-bas li {
    list-style-image: url(img/o-logo.png);
}

.bandeau-bas {
    width: 30%;
    display: flex;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.bandeau-bas li {
    flex: 0 0 30%;
    width: 25%;
    height: 25%;
    background-color: rgb(175, 226, 255);
    padding: 10px 0px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
}

/** Les sous-parties de texte */

.text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 50px;
}

.boite-de-dialogue {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.que-propose {
    background-color: rgb(196, 233, 255);
    color: rgb(11, 75, 43);
    padding: 10px 35px 10px 35px;
    margin: 20px;
}

.para-cc,
.para-cc2 {
    display: flex;
}

/** Les titres */

h1 {
    padding: 2px 20px 2px 20px;
    width: auto;
}

h2 {
    text-transform: uppercase;
    color: rgb(83, 112, 43);
}

/** Les liens */

a {
    text-decoration: none;
    color: rgb(54, 82, 51);
    transition: color 0.2s;
}

a:hover {
    border-bottom:1px solid rgb(3, 24, 92);
    color: rgb(3, 24, 92);
}

/** Les éléments de rédaction */

p {
    text-align: justify;
}

.imp-text {
    font-weight: bolder;
    text-align: center;
}

.v-imp-text {
    font-size: 25px;
    border: 1px solid rgb(14, 87, 26);
    width: 100%;
    margin: 30px auto 30px auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(182, 255, 194);
}

.scien-name {
    font-style: italic;
}

.surline {
    font-weight:bolder;
}

.fin-text {
    margin-top: 70px;
}

/** Les images */

.logo-ortiss {
    text-align: center;
}

#logo-ortissage {
    object-fit: fill;
    max-width: 120px;
    margin-top: 40px;
}

.photo-fibre,
.photo-bibl,
.photo-cc {
    display: flex;
    flex-direction: column;
    margin: auto 30px auto 30px;
    align-items: center;
    font-style: italic;
}

#photo-bibliotheque {
    max-width: 500px;
}

#creative-commons {
    max-width: 200px;
}

#cc-by-sa {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 10px;
}